@font-face {
    font-family: 'Avenir';
    src: url('../font/Avenir\ Regular.ttf');
}

html, body {
    height: 100%;
}

* {
    font-family: 'Avenir', sans-serif;
}

body {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;

    align-items: center;
}

.container {
    width: 1440px;
    height: 1024px;

    background-image: url("../img/Group\ 48.png");
    background-repeat: no-repeat;
    background-position: center;
}

.cols {
    height: 100%;
    display: flex;
}

.left {
    padding: 20px;
    width: 637px;
    display: flex;

    align-items: start;
    justify-content: center;
}

.right {
    width: 668PX;
    display: flex;

    align-items: end;
    justify-content: center;
}

.lorem {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

h1 {
    font-size: 72px;
    line-height: 98px;

    margin-top: 15px;
}

.left p {
    margin-top: -30px;
}

p {
    font-size: 24px;
    color: #252525c1;
}

.right p {
    text-align: start;
}

button {
    width: 200px;
    height: 70px;
    text-decoration: none;
    border: none;
    background-color: #252525;
    color: white;
    font-size: 27px;
    border-radius: 50px;
}