@font-face {
    font-family: 'Avenir';
    src: url('../font/Avenir\ Regular.ttf');
}

html, body {
    width: 100%;
}

* {
    font-family: 'Avenir';
}

body {
    display: flex;
    flex-direction: column;

    margin: 0;

    align-items: center;
    justify-content: center;
}

.container {
    margin: 40px;
}

h1 {
    font-size: 4.2rem;
    margin: 0;
}

p {
    font-size: 1.5em;
}

h1::selection, p::selection, button::selection {
    background-color: #252525;
    color: white;
}

.top {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .left {
        width: 50%;
    }
}

.cards {
    display: flex;

    background-color: #252525;
    border-radius: 40px;

    margin-block: 40px;
    padding: 40px;

    align-items: center;
    justify-content: space-between;
}

.card h2::selection {
    background-color: white;
    color: #252525;
}

.card {
    width: 25vw;
}

.card h2, .card p {
    color: #ffffffb4;
}

button {
    width: 182px;
    height: 66px;

    border: none;

    background-color: #252525;
    border-radius: 66px;
    color: white;
    font-size: x-large;
}

img {
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

@media (max-width:  768px){
    .top {
        flex-direction: column;
    }

    .left {
        margin-bottom: 40px;
    }

    .right {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container {
        margin: 0;
        padding-block: 40px;
        padding-inline: 20px;
    }
}