@font-face {
    font-family: 'Avenir';
    src: url('../font/Avenir\ Regular.ttf');
}

* {
    font-family: 'Avenir';
}

body {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.container {
    margin: 50px;
}
.left {
    width: 637px;
}

h1 {
    font-size: 72px;
    margin: 0;
}

p {
    font-size: 26px;
}

h1::selection, p::selection, button::selection {
    background-color: #252525;
    color: white;
}

.top {
    display: flex;

    justify-content: space-between;
}

.cards {
    display: flex;

    background-color: #252525;
    border-radius: 40px;

    margin-block: 40px;
    padding: 40px;

    align-items: center;
    justify-content: space-between;
}

.card h2::selection {
    background-color: white;
    color: #252525;
}

.card {
    width: 25vw;
}

.card h2, .card p {
    color: #ffffffb4;
}

button {
    width: 182px;
    height: 66px;

    border: none;

    background-color: #252525;
    border-radius: 66px;
    color: white;
    font-size: x-large;
}

img {
    -webkit-user-select: none;
    -webkit-user-drag: none;
}